<div class="eqLogic-widget geolocation-widget" data-eqlogic_id="#id#" data-version="dashboard" data-object-id="#object_id#" data-object-name="#object_name#" data-widget-name="#name#" data-selected-equipments="#selectedEquipments#" style="width: #width#;">
    <div class="widget-title">
        <span class="widget-name">#name#</span>
        <span class="equipment-count" id="equipmentCount_#id#">0 équipement(s)</span>
    </div>
    <div class="widget-body">
        <div id="geolocMap_#id#" class="geolocation-map" style="height: #height#px; width: 100%; min-height: 200px;">
            <div class="loading-overlay">
                <i class="fa fa-spinner fa-spin"></i>
                <span>Chargement de la carte...</span>
            </div>
        </div>
        <!-- Control Panel Toggle Button -->
        <div class="geoloc-control-toggle" id="controlToggle_#id#" title="Afficher/Masquer le panneau de selection">
            <i class="fa fa-list"></i>
        </div>
        <!-- Control Panel Overlay -->
        <div class="geoloc-control-panel" id="controlPanel_#id#" style="display: none;">
            <div class="control-panel-header">
                <span>Equipements</span>
                <button class="control-panel-close" data-widget-id="#id#">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="control-panel-actions">
                <button class="btn btn-xs btn-default" id="checkAll_#id#">Tout cocher</button>
                <button class="btn btn-xs btn-default" id="uncheckAll_#id#">Tout decocher</button>
            </div>
            <div class="control-panel-list" id="equipmentList_#id#">
                <!-- Equipment checkboxes populated by JavaScript -->
            </div>
            <div class="control-panel-footer" id="controlPanelFooter_#id#" style="display: none;">
                <button class="btn btn-primary btn-sm" id="multiHistoryBtn_#id#">
                    <i class="fa fa-history"></i> Historique
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$.include([
    'plugins/geoloc/desktop/css/geolocation.css',
    'plugins/geoloc/desktop/css/leaflet.css',
    'plugins/geoloc/desktop/js/leaflet.js',
    'plugins/geoloc/desktop/js/leaflet-ant-path.js',
    'plugins/geoloc/desktop/js/geoloc-shared.js',
    'plugins/geoloc/desktop/js/geoloc-widget.js'
], function() {
    if (typeof initGeolocWidget === 'function') {
        initGeolocWidget('#id#', '#object_id#', '#object_name#');
    } else {
        console.warn('initGeolocWidget function not found for widget #id#');
    }
});
</script>

