<div class="eqLogic-widget geolocation-widget" data-eqlogic_id="#id#" data-version="dashboard" data-object-id="#object_id#" data-object-name="#object_name#">
    <div class="widget-title">
        <span class="widget-name">#object_name# - Géolocalisation</span>
    </div>
    <div class="widget-body">
        <div id="geolocMap_#id#" class="geolocation-map" style="height: #height|300#px; width: 100%; min-height: 200px;">
            <div class="loading-overlay">
                <i class="fa fa-spinner fa-spin"></i>
                <span>Chargement de la carte...</span>
            </div>
        </div>
        <div class="widget-info">
            <span class="equipment-count" id="equipmentCount_#id#">0 équipement(s)</span>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    if (typeof initGeolocWidget === 'function') {
        initGeolocWidget('#id#', '#object_id#', '#object_name#');
    } else {
        console.warn('Geolocation widget script not loaded');
    }
});
</script>