.light .leaflet-popup-content-wrapper {
    background: white;
    color: rgb(115, 115, 115);
}

.dark .leaflet-popup-content-wrapper {
    background: black;
    color: rgb(172, 172, 172);
}

.light .leaflet-popup-tip {
    background: white;
}

.dark .leaflet-popup-tip {
    background: black;
}

.leaflet-popup-content {
    font-size: 14px;
}
